@model Projeto.Restaurante.MVC.ViewModels.Pedido.ViewModelEditPedido
@{
    ViewBag.Title = "Alterar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Cadastrar
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.Id)
                </label>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Id)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ativo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>
                        @Html.EditorFor(model => model.Ativo)
                        @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mesas, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>
                        @{
    var mesas = Model.Mesas.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Nome }).ToList();
                        }
                        @Html.DropDownList("MesaId", mesas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MesaId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Itens
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Pratos
                        </label>
                        <div class="col-md-11">
                            <select id="comboPrato" class="form-control">
                                <option value="0">Selecione</option>
                                @{
    foreach (var categoria in Model.Categorias)
    {
        <optgroup label="@categoria.Nome">
            @{
        foreach (var prato in categoria.Pratos)
        {
            <option value="@prato.Id">@prato.Nome R$ [@prato.Preco]</option>
        }
            }
        </optgroup>
    }
                                }
                            </select>
                        </div>
                    </div>

                    @{
    foreach (var opcao in Model.Opcoes)
    {
        <div class="form-group">
            <label for="@opcao.Id" class="col-md-1">
                <input value="@opcao.Id" type="checkbox" class="checkbox cbOpcoes" />
            </label>
            <label class="control-label col-md-11">
                @Html.DisplayFor(model => opcao.Nome)
            </label>
        </div>
    }
                    }

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-2">
                            <input id="btnAssociarItem" type="button" value="Associar Item" class="btn btn-info btn-block" />
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-condensed" id="tblItens">
                            <thead>
                                <tr>
                                    <th>
                                        Pratos
                                    </th>
                                    <th>
                                        Opções
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input type="submit" value="Alterar" class="btn btn-info btn-block" />
                </div>
            </div>
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-2">
        @Html.ActionLink("Listar", "Index", null, null, new { @class = "btn btn-info btn-block" })
    </div>
</div>

@{ Html.RenderPartial("~/Views/Util/Alert.cshtml");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Models/Item/Item.js")
    @Scripts.Render("~/Scripts/Models/Opcao/Opcao.js")
    @Scripts.Render("~/Scripts/Models/Pedido/Pedido.js")
    @Scripts.Render("~/Scripts/Models/Prato/Prato.js")
    @Scripts.Render("~/Scripts/Controllers/Pedido.js")
    <script type="text/javascript">
        $(document).ready(function () {
            SetPedidoId(@Model.Id);

            Listar();

            $("#btnAssociarItem").click(function () {
                AssociarItem();
            });
        });
    </script>
}