@using Projeto.Restaurante.MVC.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/Content/css")
    <style>
        .control-label {
            text-align: left !important;
        }

        .row {
            min-height: 300px !important;
        }
    </style>

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body class="container">

    <div class="container body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Restaurante", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-horizontal">
            @{
                if (ViewBag.Alerta != null)
                {
                    Html.RenderPartial("~/Views/Util/AlertInline.cshtml", (Alerta)ViewBag.Alerta);
                }
            }

            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
